head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='/fonts/iranyekan/WebFonts/css/style.css' rel='stylesheet')
  link(href='/vendor/bulma-0.7.0/css/bulma.css' rel='stylesheet')
  link(href='/css/main.css' rel='stylesheet')
  title XO Iran