@import '../../vars.scss';
.xoBrandHeader{
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);

  a.header__logo__link {
    &:hover {
      color: $link;
    }
  }

  .header__logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo {
    margin: 0 auto;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
  }
}
